#repliesWrapper{
    display: flex;
    flex: 1;
    justify-content: center;
    height: fit-content;
    margin-bottom: 24px;
}
#repliesWrapper .repliesList{
    width: 100%;
    margin-left: 2.5rem;
    padding-left: 2rem;
    border-left: 2px solid var(--Light-gray);
}
@media only screen and (max-width: 600px) {
    #repliesWrapper .repliesList{
        width: 100%;
        margin-left: 0;
        padding-left: 1rem;
        border-left: 2px solid var(--Light-gray);
    }
}